<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>45351250774-v27r5tpbj37p3vgp94ulpqn5949nho2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45351250774-v27r5tpbj37p3vgp94ulpqn5949nho2m</string>
	<key>API_KEY</key>
	<string>AIzaSyBkcJ3LW12dlTs-tdQ2oJUr4qHETxsNhVw</string>
	<key>GCM_SENDER_ID</key>
	<string>45351250774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pusheax.WeMoScenes</string>
	<key>PROJECT_ID</key>
	<string>wemoscenes</string>
	<key>STORAGE_BUCKET</key>
	<string>wemoscenes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:45351250774:ios:e172affaf92cd703</string>
	<key>DATABASE_URL</key>
	<string>https://wemoscenes.firebaseio.com</string>
</dict>
</plist>
